h1 {
  font-size: 65px;
  font-family: helvetica;
  color: black;
  font-weight: bolder;
}

#result {
  font-size: 22px;
  border: 10px;
  font-weight: bold;
  padding-top: 10px;
}

body {
  background-color: lightblue;
}

#rules {
  float: right;
  padding-top: 10%;
  padding-right: 5%;
  font-size: 65px;
  font-family: helvetica;
  color: black;
  font-weight: bolder;
}

form {
  padding-left: 50%;
}
